body {
  background-color: hsl(233, 47%, 7%);
  font-family: Lexend Deca;
  font-size: 15px;
}

.card, .statistics {
  display: flex;
  flex-wrap: wrap;
}

.statistics {
  justify-content: space-evenly;
}

.card {
  background-color: hsl(244, 38%, 16%);
  border-radius: 8px;
  margin: 80px;
}

.column-text, .column-image {
  width: 50%;
}

.main-text {
  margin-top: 50px;
}

.headline, .description {
  margin: 0 auto;
}

.headline {
  letter-spacing: 2px;;
  color: hsl(0, 0%, 100%);
  width: 65%;
  margin-bottom: 40px;
}

.keyword {
  color: hsl(277, 64%, 61%);
}

.description {
  color: hsla(0, 0%, 100%, 0.75);
  width: 65%;
  letter-spacing: 1px;
  line-height: 25px;
}

.number {
  color: hsl(0, 0%, 100%);
}

.category {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
}

.description, .category {
  font-family: Inter;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
